
@import "normalize";

// Variables
$clouds: 		#eff3f3 !default;
$silver: 		#bcc1c6 !default;
$concrete: 		#93a4a5 !default;
$asbestos: 		#7f8d8d !default;
$wet-asphault: 	#334a5f !default;

$sans-headline: "brandon-grotesque", "Helvetica", sans-serif;
$sans-serif: 	"open-sans", "Helvetica", sans-serif;
$black: 		900;
$book: 			400;


// Styles
body {
	background-color: $asbestos;
	color: $clouds;
	font-family: $sans-serif;
}

.row {
	margin: 100px auto;
	width: 500px;
	
	> h1 {
		color: $clouds;
		font-family: $sans-headline;
		font-size: 60px;
		font-weight: $black;
		margin: 0;
		text-align: center;
		text-rendering: optimizeLegibility;
		text-transform: uppercase;
	}

	> p {
		color: $silver;
		font-size: 14px;
		font-weight: $book;
		margin: -20px 0 0;
		padding: 0 20px 0 0;
		text-align: right;
	}
	
	.content {
		margin: 50px auto;
		text-align: center;
		width: 450px;

		p {
			font-size: 14px;
		}

		ul {
			list-style: none;
			padding: 0;
			li {
				line-height: 1.8em;
			}
		}

		a {
			color: $wet-asphault;
			text-decoration: none;
			transition: color .3s ease-out;
			&:hover { color: $concrete; }
		}

	}// .content

}// .row


@media (max-width: 500px) {
	.row {
		margin: 50px auto;
		width: 100%;
		
		> h1 {
			font-size: 40px;
			img {
				display: block;
				margin: 0 auto 20px;
				text-align: center;
				width: 18px;
			}
		}// > h1

		> p {
			margin: 0;
			padding: 0 40px;
			text-align: center;
		}

		.content {
			margin: 30px auto;
			text-align: center;
			width: 100%;

			> p {
				margin: 0;
			}

			> ul {
				margin-top: 20px;
			}

		}

	}// .row
}





